

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.small-bg, [small-bg=""] {
  width: 800px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  --un-bg-opacity: 1;
  background-color: rgba(34,34,34,var(--un-bg-opacity));
}
